.box{
    background-color: aqua;
    height:300px;
    width:300px;
}

#box1{
    background-color:pink;
    height:300px;
    width:300px;
}
#box2{
    background-color: pink;
    height:300px;
    width:300px;
}
#box3{
    background-color: aqua;
    height:300px;
    width:300px;
}
#box4{
    background-color: aqua;
    height:300px;
    width:300px;
}
#box5{
    background-color: aqua;
    height:300px;
    width:300px;
}
